:root {
  scroll-behavior: smooth;
}
.cost {
  font-size: 1em;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.7em;
  text-align: center;
  justify-content: center;
  color: white;
  font-weight: 300;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.matched-dice {
  background-image: url(https://githubimg.ngworks.cn/GeniusInvokationImg/ElementalReaction/Aligned_dice.png_icon);
}

.anemo-dice {
  background-image: url(https://githubimg.ngworks.cn/GeniusInvokationImg/ElementalReaction/Anemo_dice.png_icon);
}

.electro-dice {
  background-image: url(https://githubimg.ngworks.cn/GeniusInvokationImg/ElementalReaction/Electro_dice.png_icon);
}

.pyro-dice {
  background-image: url(https://githubimg.ngworks.cn/GeniusInvokationImg/ElementalReaction/Pyro_dice.png_icon);
}

.cryo-dice {
  background-image: url(https://githubimg.ngworks.cn/GeniusInvokationImg/ElementalReaction/Cryo_dice.png_icon);
}

.hydro-dice {
  background-image: url(https://githubimg.ngworks.cn/GeniusInvokationImg/ElementalReaction/Hydro_dice.png_icon);
}

.dendro-dice {
  background-image: url(https://githubimg.ngworks.cn/GeniusInvokationImg/ElementalReaction/Dendro_dice.png_icon);
}

.geo-dice {
  background-image: url(https://githubimg.ngworks.cn/GeniusInvokationImg/ElementalReaction/Geo_dice.png_icon);
}

.unaligned-dice {
  background-image: url(https://githubimg.ngworks.cn/GeniusInvokationImg/ElementalReaction/unaligned_dice.png_icon);
}

.energy {
  background-image: url(https://githubimg.ngworks.cn/GeniusInvokationImg/ElementalReaction/Energy.png_icon);
}
